@page "/chhoseCustomer"

@using PetTransport.Domain.Entities
@using PetTransport.Infrastructure.Data
@using Microsoft.EntityFrameworkCore
@using Task = System.Threading.Tasks.Task
@using System.Linq
@using PetTransport.Web.Extensions
@using PetTransport.Web.Models
@inject LinkGenerator LinkGenerator

@inject ApplicationDbContext dbContext
@inject Radzen.DialogService dialogService


<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

    <div style="display: flex; align-items: center; margin-bottom: 16px">
    <RadzenButton Click="@ClearSelection" Text="Сбросить" style="background-color: #34094a;" />
    @if (SelectedCustomers?.Any() == true)
    {
    <div style="margin-left: 16px">
        Выбранный заказчик: @SelectedCustomers[0].Name
    </div>
    }
    </div>

<RadzenDataGrid @ref="grid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                AllowSorting="true" Data="@applications" TItem="Customer" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedCustomers>
    <Columns>
                     <RadzenDataGridColumn TItem="Customer" Property="Id" Title="Id" Width="120px" />
                     <RadzenDataGridColumn TItem="Customer" Property="Name" Title="Название">
                     </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="Customer" Property="Address" Title="Адрес">
                     </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="Customer" Property="Email" Title="Emaail">
                     </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="Customer" Property="OrganizationNumber" Title="УНП">
                     </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="Customer" Property="PhoneNumber" Title="Номер телефона">
                     </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="Customer" Property="ContantPerson" Title="Контактное лицо">
                     </RadzenDataGridColumn>        
    <RadzenDataGridColumn TItem="Customer" Property="CustomerType" Title="Тип заказчика">
        <Template Context="customer">
            @customer.CustomerType.GetEnumDescription()
        </Template>
                           
    </RadzenDataGridColumn>
     </Columns>
    </RadzenDataGrid>

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => dialogService.Close(SelectedCustomers))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
        <RadzenButton Click="@((args) => dialogService.Close(SelectedCustomers))" Text="OK" Style="width: 120px" />
    </div>
</div>

@code {
    bool allowRowSelectOnRowClick = false;

    [Parameter]
    public IList<Customer> SelectedCustomers  { get; set; }
    
    
    IEnumerable<Customer> applications;
    RadzenDataGrid<Customer> grid;


    protected override void OnInitialized()
    {
        applications = dbContext.Customers.ToList();
    }



    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }

        base.OnAfterRender(firstRender);
    }
    
    void ClearSelection()
    {
        SelectedCustomers = null;
    }
}