@page "/create-order"

@using PetTransport.Domain.Entities
@using Microsoft.AspNetCore.Components
@using PetTransport.Infrastructure.Data
@using PetTransport.Web.Extensions
@using Task = System.Threading.Tasks.Task
@using System.Security.Claims
@inject ApplicationDbContext dbContext
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<h1>Создание заказа</h1>


<RadzenTemplateForm Data="@_application" Submit="@((Application args) => { Submit(args); })">
    <div class="row">
        <div class="col-md-6">
            <RadzenFieldset Text="Информация о заказе">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Номер заказа" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="OrderNumber" @bind-Value="_application.OrderNumber" Disabled="true" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Место отправления"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="SourcePoint" @bind-Value="_application.SourcePoint"/>
                        <RadzenLengthValidator Component="SourcePoint" Min="3"  Max="10" Text="First name should be at most 10 characters"  Style="position: absolute" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Место получения"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="DestinationPoint" @bind-Value="_application.DestinationPoint"/>
                        <RadzenRequiredValidator Component="DestinationPoint" Text="Место прибытия обязательно для заполнения"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Дата отправки" />
                    </div>
                    <div class="col-md-8">
                        <RadzenDatePicker style="width: 100%;" DateFormat="d"  Name="PickUpDate" @bind-Value="_application.PickUpDate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Дата получения"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenDatePicker style="width: 100%;" DateFormat="d"  Name="DeliveryDate" @bind-Value="_application.DeliveryDate"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Выбрать заказчика"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"style="margin-bottom: 10px;background-color: #34094a;" Text="Выбрать заказчика" Click="@ButtonClick" />

                    </div>
                </div>
            </RadzenFieldset>
        </div>
        @if (customer != null)
        {
              <div class="col-md-6">
                         <RadzenCard class="m-3">
                                        <h3 class="h5">Информация о заказчике</h3>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>Название организации</div>
                                                <b>@customer.Name</b>
                                                <div class="mt-3">Тип заказчика</div>
                                                <b>@customer.CustomerType.GetEnumDescription()</b>
                                            </div>
                                            <div class="col-md-8">
                                                <div>Адрес</div>
                                                <b>@customer.Address</b>
                                                <div class="mt-3">Email</div>
                                                <b>@customer.Email</b>
                                            </div>
                                        </div>
                                    </RadzenCard>
                               </div>
        }
      
                </div>
</RadzenTemplateForm>  
            
            @* <RadzenFieldset Text="Информация о заказчике"> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Название организации"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="Name" Value="@customer?.Name" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Тип заказчика"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="Type" Value="@customer?.CustomerType.GetEnumDescription()" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Адрес"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="Address" Value="@customer?.Address" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Email"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="Email" Value="@customer?.Email" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Номер телефона"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="PhoneNumber" Value="@customer?.PhoneNumber" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div class="row"> *@
            @*         <div class="col-md-4 align-items-center d-flex"> *@
            @*             <RadzenLabel Text="Контактное лицо"/> *@
            @*         </div> *@
            @*         <div class="col-md-8"> *@
            @*             <RadzenTextBox style="width: 100%;" Name="ContactPerson" Value="@customer?.ContactPerson" Disabled="true"/> *@
            @*         </div> *@
            @*     </div> *@
            @* </RadzenFieldset> *@
 

<RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" style="margin-bottom: 10px;background-color: #34094a;" Text="Добавить животное в заказ" Click="@InsertRow" Disabled=@(applicationToInsert != null) />
<RadzenDataGrid @ref="applcationItemsGrid" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data="@applcationItems" TItem="ApplicationItem" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
    <Columns>
        <RadzenDataGridColumn TItem="ApplicationItem" Property="Id" Title="ID" Width="120px" >
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Property="AnimalType" Title="Тип животного">
            <Template Context="applcationItem">
                @applcationItem.AnimalType?.Name
            </Template>
            <EditTemplate Context="applcationItem">
                <RadzenDropDown @bind-Value="applcationItem.AnimalTypeId" AllowVirtualization="true" Class="w-100"
                                AllowFiltering="true" Data=@_animalTypes TextProperty="Name" ValueProperty="Id" />
            </EditTemplate>

        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Property="AnimalName" Title="Наименование">
            <EditTemplate Context="applcationItem">
                <RadzenTextBox @bind-Value="applcationItem.AnimalName" Style="width:100%; display: block" Name="AnimalName"/>
                <RadzenRequiredValidator Text="Наименование животного обязательно к заполнению" Component="AnimalName" Popup="true"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Property="ChipNumber" Title="Номер чипа">
            <EditTemplate Context="applcationItem">
                <RadzenTextBox @bind-Value="applcationItem.ChipNumber" Style="width:100%; display: block" Name="ChipNumber"/>
                <RadzenRequiredValidator Text="Номер чипа обязателен к заполнению" Component="ChipNumber" Popup="true"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Property="Weight" Title="Вес, кг">
            <EditTemplate Context="applcationItem">
                <RadzenNumeric @bind-Value="applcationItem.Weight" Style="width:100%; display: block" Name="Weight"/>
                <RadzenRequiredValidator Text="Вес обязателен к заполнению" Component="Weight" Popup="true"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Context="sampleBlazorModelsSampleApplicationItem" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="200px">
            <Template Context="order">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="order">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(order))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(order))">
                </RadzenButton>
            </EditTemplate>
                                      <FooterTemplate>
                                                        Всего животных в заказе: <b>@applcationItemsGrid.Count</b>
                                                    </FooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ApplicationItem" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
            <Template Context="order">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))"  @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="order">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
<br/>
  <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Icon="save" style="margin-bottom: 10px; width: 100%; background-color: #34094a;" Text="Создать заказ" Click="@SaveOrder" Disabled=@(customer == null || !applcationItems.Any()) />


<br>
<hr/>
@code {
    RadzenDataGrid<ApplicationItem> applcationItemsGrid;
    IList<ApplicationItem> applcationItems;
    Customer customer;
    List<AnimalType> _animalTypes;
    public string UserId { get; set; }

    Application _application = new Application()
    {
        OrderNumber = Guid.NewGuid().ToString("N"),
        PickUpDate = DateTime.Now,
        DeliveryDate = DateTime.Now
    };
    
 
    protected override async void OnInitialized()
    {
        base.OnInitialized();


        // For demo purposes only
        applcationItems = new List<ApplicationItem>();
        _animalTypes = dbContext.AnimalTypes.ToList();
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        UserId = authstate.User.FindFirst(x=>x.Type== ClaimTypes.NameIdentifier).Value;

    // For production
    //applcationItems = dbContext.ApplicationItems.Include("Customer").Include("Employee");
    }

   

    async Task EditRow(ApplicationItem order)
    {
        // var animal = _animalTypes.FirstOrDefault();
        // order.AnimalTypeId = animal.Id;
        // order.AnimalType = animal;
        
        await applcationItemsGrid.EditRow(order);
    }

    void OnUpdateRow(ApplicationItem order)
    {
        if (order == applicationToInsert)
        {
            applicationToInsert = null;
        }
    }

    async Task SaveRow(ApplicationItem order)
    {
        if (order == applicationToInsert)
          {
            applicationToInsert = null;
        }

        order.AnimalType = _animalTypes.FirstOrDefault(x => x.Id == order.AnimalTypeId);

        await applcationItemsGrid.UpdateRow(order);
    }

    void CancelEdit(ApplicationItem order)
    {
        if (order == applicationToInsert)
        {
            applicationToInsert = null;
        }

        applcationItemsGrid.CancelEditRow(order);

    }

    async Task DeleteRow(ApplicationItem order)
    {
        if (order == applicationToInsert)
        {
            applicationToInsert = null;
        }

        if (applcationItems.Contains(order))
        {

            // For demo purposes only
            applcationItems.Remove(order);


            await applcationItemsGrid.Reload();
        }
        else
        {
            applcationItemsGrid.CancelEditRow(order);
        }
    }

    ApplicationItem applicationToInsert;

    async Task InsertRow()
    {
        applicationToInsert = new ApplicationItem(){ Id = Guid.NewGuid(), AnimalType = _animalTypes.FirstOrDefault(), AnimalTypeId = _animalTypes.FirstOrDefault().Id};
        await applcationItemsGrid.InsertRow(applicationToInsert);
    }
    
    
    async Task SaveOrder()
    {
        if (string.IsNullOrEmpty(_application.DestinationPoint) || string.IsNullOrEmpty(_application.DestinationPoint))
        {
            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Duration = 4000,
                Summary = "Ошибка",
                Detail = "Заполните место отправления или место получения!"
            });
            
            return;
        }
        _application.ManagerId = UserId;
        _application.Customer = customer;
        _application.AddItems(applcationItems);
        dbContext.Applications.Add(_application);
        await dbContext.SaveChangesAsync();
        
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Успешно", Detail = "Заявка успешно сформирована.", Duration = 4000 });
        NavigationManager.NavigateTo("orders");
    // TODO: HANDLE
    }

    void OnCreateRow(ApplicationItem order)
    {
        applcationItems.Add(order);
    }
    
    void Submit(Application arg)
    {
   
    }
    
    async Task ButtonClick()
    {
        var res = await DialogService.OpenAsync<ChooseCustomerDialog>($"Добавить заказчика",
            new Dictionary<string, object>() {  },
            new DialogOptions() { Width = "700px", Height = "570px", Resizable = true, Draggable = true });

        if (res is not null)
        {
            var casting = res as List<Customer>;
                  
          
                  customer = casting.FirstOrDefault();  
        }
      
    }
}