@page "/"
@using PetTransport.Infrastructure.Data
@using PetTransport.Domain.Entities
@using PetTransport.Web.Extensions
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@using System.Security.Claims
@using PetTransport.Domain.Entities.Enums
@inject ApplicationDbContext _context
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<PageTitle>Index</PageTitle>
@if(GetAuthenticationStateAsync.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated){
<h1>Сводка по заказам</h1>

<div>Заказы ожидающие обработки: @pendingOrders</div>
<br>
<div>Заказы ожидающий оплаты: @notPaid</div>
<br>
<div>Заказы в работе: @inProgress</div>
<br>
<div>Завершенные заказы: @completed</div>
<br>

<div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
 <RadzenChart>
                <RadzenPieSeries Data="@revenue" Title="Заказы по типу клиента" CategoryProperty="Quarter" ValueProperty="Revenue"/>
            </RadzenChart>
            </div>
        </div>
    </div>

<div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
<RadzenChart>
                    <RadzenColumnSeries Data="@ordersDiagram" CategoryProperty="Month" Title="Количество заказов" LineType="LineType.Dashed" ValueProperty="OrdersCount"/>
                    @* <RadzenColumnSeries Data="@revenue2019" CategoryProperty="Quarter" Title="2019" ValueProperty="Revenue"/> *@
                    <RadzenColumnOptions Radius="5"/>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true"/>
                        <RadzenAxisTitle Text="Количество заказов"/>
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>

<div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
 <RadzenChart>
                    <RadzenColumnSeries Data="@ridesDiagram" CategoryProperty="Month" Title="Количество выполненных поездок" LineType="LineType.Dashed" ValueProperty="OrdersCount"/>
                    <RadzenColumnOptions Radius="5"/>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true"/>
                        <RadzenAxisTitle Text="Количество выполненных поездок"/>
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
}else{
    <h1>Для доступа к автоматизированной системе воспользуйтесь страницей входа в приложение</h1> 
}


@code{
    
    int pendingOrders = 0;
    int notPaid = 0;
    int inProgress = 0;
    int completed = 0;
    DataItem[] revenue;
    OrderDiagram[] ordersDiagram;
    OrderDiagram[] ridesDiagram;

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        var orders = await _context.Applications.ToListAsync();

    // For demo purposes only
        pendingOrders = orders.Count(x => x.Status == ApplicationStatus.Pending);
        notPaid = orders.Count(x => x.Status == ApplicationStatus.NotPaid);
        inProgress =orders.Count(x => x.Status == ApplicationStatus.InProgress);
        completed =orders.Count(x => x.Status == ApplicationStatus.Completed);
        revenue = _context.Customers.GroupBy(x => x.CustomerType)
            .Select(x => new DataItem(x.Key.GetEnumDescription(), x.Count()))
            .ToArray();

        ordersDiagram=_context.Applications
            .Where(x => x.CreatedAt.Year == DateTime.Now.Year)
            .ToList().GroupBy(x=>x.CreatedAt.Month).Select(x => new OrderDiagram(CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetMonthName(x.Key), x.Count())).ToArray();
        
        ridesDiagram=_context.Rides
            .Where(x => x.CreatedAt.Year == DateTime.Now.Year && x.RideStatus == RideStatus.Completed)
            .ToList().GroupBy(x=>x.CreatedAt.Month).Select(x => new OrderDiagram(CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetMonthName(x.Key), x.Count())).ToArray();
    }
    
    
    class DataItem
    {
        public DataItem(string quarter, double revenue)
        {
            Quarter = quarter;
            Revenue = revenue;
        }
        
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }
    
    class OrderDiagram
    {
        public OrderDiagram(string month, int ordersCount)
        {
            Month = month;
            OrdersCount = ordersCount;
        }
        
        public string Month { get; set; }
        public double OrdersCount { get; set; }
    }
}

