@* @using PetTransport.Domain.Entities *@
@* @model PetTransport.Web.Commands.Transportations.UpdateTransportationCommand *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Edit"; *@
@*     Layout = "~/Views/Shared/_Layout.cshtml"; *@
@*     IEnumerable<Route> routes = new List<Route>(); *@
@*     if (ViewBag.Routes != null) *@
@*     { *@
@*         routes = ViewBag.Routes as IEnumerable<PetTransport.Domain.Entities.Route>; *@
@*     } *@
@* } *@
@* *@
@* <h1>Редактировать информацию о поездке</h1> *@
@* *@
@* <h4>Поездка</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Edit"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <input type="hidden" asp-for="Id" /> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Title" class="control-label"></label> *@
@*                 <input asp-for="Title" class="form-control" /> *@
@*                 <span asp-validation-for="Title" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Name" class="control-label"></label> *@
@*                 <input asp-for="Name" class="form-control" /> *@
@*                 <span asp-validation-for="Name" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Description" class="control-label"></label> *@
@*                 <input asp-for="Description" class="form-control" /> *@
@*                 <span asp-validation-for="Description" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Save" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* <hr/> *@
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th> *@
@*             Название *@
@*         </th> *@
@*         <th> *@
@*             Откуда *@
@*         </th> *@
@*         <th> *@
@*             Куда *@
@*         </th> *@
@*         <th> *@
@*             Автомобиль *@
@*         </th> *@
@*         <th> *@
@*              Старт *@
@*         </th> *@
@*         <th> *@
@*             Конец *@
@*         </th> *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var item in routes) { *@
@*         <tr> *@
@*             <td> *@
@*                  @Html.DisplayFor(modelItem => item.Name) *@
@*             </td> *@
@*             <td> *@
@*                  @Html.DisplayFor(modelItem => item.Source) *@
@*             </td> *@
@*             <td> *@
@*             @Html.DisplayFor(modelItem => item.Destination) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Car.Make) @Html.DisplayFor(modelItem => item.Car.Model) @Html.DisplayFor(modelItem => item.Car.RegistrationNumber) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.StartTime) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.EndTime) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@
@* *@
@*  <a asp-controller="Route" asp-action="Create" asp-route-transportationId="@Model.Id">Создать маршрут</a> | *@
@* *@
@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@
@* *@
