@model IEnumerable<PetTransport.Domain.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RailwayStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelterFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderWhatsApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChipNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfChip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientWhatsApp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryOfDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RailwayStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderWhatsApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfChip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientWhatsApp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
